<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Simple app</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
</head>
<body>

  <label>someProperty = {{ someProperty }}</label>
  <input type="checkbox"
         ng-checked="someProperty"
         ng-init="someProperty = true"
         ng-model="someProperty">

  <label>anotherProperty = {{ anotherProperty }}</label>
  <input type="checkbox"
         ng-checked="anotherProperty"
         ng-init="anotherProperty = false"
         ng-model="anotherProperty">

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
