<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Simple app</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div ng-controller="CounterController">
    <button ng-click="count = count + 1"
            ng-init="count=0">
      Increment
    </button>
    count: {{ count }}
    <button ng-click="decrement()">
      Decrement
    </button>
  </div>

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
