<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Simple app</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div ng-controller="LotteryController">
    <div ng-class="{red: x > 5}" ng-if="x > 5">
      You won!
    </div>
    <button ng-click="x = generateNumber()" ng-init="x = 0">
      Draw Number
    </button>
    <p>Number is: {{ x }}</p>
  </div>

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
